h1
{
	text-align: center;
	color:red;
	font-size: 3em;
}

figure
{
	text-align: center;
}

ul
{
	border: 2px black solid;
	border-radius: 10px/20px;
	box-shadow: 0px 0px 5px 2px black inset;
	
}

a:hover
{
	text-decoration: none;
	color: blue;
	font-style: italic;
}

a:visited
{
	text-decoration: none;
	color:black;
	font-style:italic;
}

